*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, aside, section, article, footer {
    margin: 5px;
    border: 1px solid #000;
}

header, main, footer {
    width: calc(100% - 10px);
    background-color: whitesmoke;
}

header, footer {
    height: calc(20vh - 10px);
}

main {
    height: calc(60vh - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    width: calc(100% - 10px);
    height: calc(20% - 10px);
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

#parentSection {
    width: calc(100% - 10px);
    height: calc(80% - 10px);
    background-color: ligthgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parentSection section, #parentSection article {
    width: cacl(100% - 10px);
    height: calc(50% - 10px);
    background-color: red;
}

#parentSection section img {
    display: block;
    width: 40%;
    margin: auto;

}

ul {
    padding-left: 20px;
}

@media screen and (min-width: 768px) {
    header, footer {
        height: calc(10vh - 10px);
    }
    main {
        height: calc(80vh - 10px);
        flex-direction: row;
        justify-content: space-evenly;
    }
    aside {
        width: calc(20% - 10px);
        height: cacl(100% - 10px);
    }
    #parentSection {
        width: calc(80% - 10px);
        height: calc(100% - 10px);
    }
}